.card {
  background: #222;
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.card h3 {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

.card p {
  margin: 0.3rem 0;
}

.on {
  color: #ffa500;
  font-weight: bold;
}

.off {
  color: #999;
}