.navbar-logo {
    width: 100px; /* Adjust width to your preference */
    height: auto; /* Maintain aspect ratio */
}

.logo-container {
    background-color: #f0f0f0; /* Background color for the logo box */
    padding: 10px; /* Space around the logo */
    border-radius: 8px; /* Rounded corners for the box */
    display: inline-block; /* Make sure it wraps around the logo */
}

html, body {
    background-color: #575b5e; /* Set background color for the entire website */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    font-family: Arial, sans-serif; /* Optional: Set a default font for the website */
}

/* Container styling */
.large-container, .small-container {
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

.large-container {
    padding: 25px;
}

.text-container {
    overflow-y: auto;
    max-height: 400px;
    padding: 10px;
    font-size: 16px;
    display:flex;
    flex-wrap: wrap;
    gap: 10px;
}

/* Card Styling */
.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
}

.card-header {
    background-color: #343a40;
    color: #4a4949;
    font-weight: bold;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-body {
    padding: 15px;
    color: #333;
}


/* Checkbox styling */
#table-names-form label {
    display: inline-block;
    margin-right: 10px;
    font-size: 15px;
    color: #495057;
}

input[type="checkbox"] {
    margin-right: 5px;
}

/* Message styling */
.message {
    background-color: #e9ecef;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 8px;
    white-space: pre-wrap;
}

/* Smooth scrolling */
.text-container, .card-body {
    scrollbar-width: thin;
}

.text-container::-webkit-scrollbar, .card-body::-webkit-scrollbar {
    width: 8px;
}

.text-container::-webkit-scrollbar-thumb, .card-body::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

.text-container::-webkit-scrollbar-thumb:hover, .card-body::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}



