.navbar-logo {
    width: 100px; /* Adjust width to your preference */
    height: auto; /* Maintain aspect ratio */
}

.logo-container {
    background-color: #f0f0f0; /* Background color for the logo box */
    padding: 10px; /* Space around the logo */
    border-radius: 8px; /* Rounded corners for the box */
    display: inline-block; /* Make sure it wraps around the logo */
}

.large-container {
    background-color: #c9c9c9;
    height: 700px; /* Adjust height as needed */
    border-radius: 15px;
}
.medium-container {
    background-color: #c9c9c9;
    height: 464.67px; /* Adjust height as needed */
    margin-bottom: 10px;
    border-radius: 15px;
}
.small-container {
    background-color: #c9c9c9;
    height: 226.67px; /* Adjust height as needed */
    margin-bottom: 10px; /* Space between smaller containers */
    border-radius: 15px;
}

html body{
    background-color: #575b5e;
}

.wide-container {
    width: 80%; /* Adjust width to make it wide */
    height: 50px; /* Small height */
    background-color: #c9c9c9; /* Light background color */
    margin-top: 20px; /* Space below the navbar */
    border-radius: 15px; /* Rounded corners */
    display: flex; /* Flexbox for content centering */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    margin-left: 10%
}

.text-container {
    padding: 20px; /* Add padding for space inside the container */
    color: #ff05a7; /* Text color */
    font-size: 16px; /* Adjust font size as needed */
    height: calc(100% - 40px); /* Fill the remaining space (adjust as necessary) */
    overflow-y: auto; /* Enable vertical scrolling if content exceeds height */
}

.large-container {
    position: relative;  /* Ensure the button is positioned relative to this container */
    padding-bottom: 40px;  /* Add padding to avoid overlap with the button */
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

#clearMessagesBtn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 10;  /* Ensure it's above other content */
}

.top-right-container {
    background-color: #c9c9c9;
    height: 60%;  /* Now the right container takes the full height */
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 10px; /* Space between smaller containers */
}

.table-data-container {
    max-width: 50%; /* Set maximum width to 50% of the parent container */
    margin: 10px 0; /* Add some spacing between containers */
    padding: 15px; /* Optional: Add padding for aesthetics */
    border: 1px solid #ccc; /* Optional: Add a border for better visibility */
    border-radius: 5px; /* Optional: Add rounded corners */
    background-color: #f8f9fa; /* Optional: Light background for contrast */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for depth */
}