.navbar-logo {
    width: 100px; /* Adjust width to your preference */
    height: auto; /* Maintain aspect ratio */
}

.logo-container {
    background-color: #f0f0f0; /* Background color for the logo box */
    padding: 10px; /* Space around the logo */
    border-radius: 8px; /* Rounded corners for the box */
    display: inline-block; /* Make sure it wraps around the logo */
}

.large-container {
    background-color: #c9c9c9;
    height: 700px; /* Adjust height as needed */
    border-radius: 15px;
}
.medium-container {
    background-color: #c9c9c9;
    height: 464.67px; /* Adjust height as needed */
    margin-bottom: 10px;
    border-radius: 15px;
}
.small-container {
    background-color: #c9c9c9;
    height: 226.67px; /* Adjust height as needed */
    margin-bottom: 10px; /* Space between smaller containers */
    border-radius: 15px;
}

html body{
    background-color: #575b5e;
}

.wide-container {
    width: 80%; /* Adjust width to make it wide */
    height: 50px; /* Small height */
    background-color: #c9c9c9; /* Light background color */
    margin-top: 20px; /* Space below the navbar */
    border-radius: 15px; /* Rounded corners */
    display: flex; /* Flexbox for content centering */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    margin-left: 10%
}

.text-container {
    padding: 20px; /* Add padding for space inside the container */
    color: #333; /* Text color */
    font-size: 16px; /* Adjust font size as needed */
    height: calc(100% - 40px); /* Fill the remaining space (adjust as necessary) */
    overflow-y: auto; /* Enable vertical scrolling if content exceeds height */
}